#register{
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: black;
  //  background-color: #277594;
    //background-color: gray;
    padding: 10px;
    border: 1px solid lightgray
}
