#login{
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #423143;
    padding: 10px;
}
input{
    
}
.bttn{
    width: 100%;
    background-color: #482225;
    color: white;
    border: 0px; 
}