<!--
<head>
    <link href="login.css" rel="stylesheet" type="text/css">
</head>
--> 
<form role="form" id="loginform" method="post" onsubmit=" return login();" data-parsley-validate=""> 
 <div class="row"> 
  <div class=" col-xs-1 col-sm-3 col-lg-4"></div> 
  <div id="login" class="col-xs-10 col-sm-6 col-lg-4"> 
   <div class=" form-group" style="text-align: center"> 
    <!--                    <h3>Hybrid Mobile App</h3>--> 
   </div> 
   <div class="form-group"> 
    <!--            <label for="usr">User Name:</label>--> 
    <input type="text" class="form-control" id="usr" placeholder="UserName" required="" ng-model="lgn.usr" /> 
   </div> 
   <div class="form-group"> 
    <!--            <label for="pwd">Password:</label>--> 
    <input type="password" class="form-control" id="pwd" placeholder="Password" required="" ng-model="lgn.pwd" /> 
   </div> 
   <div class="form-group">
    <span style=""><input type="checkbox" />Remember me</span> 
    <span style="float:right"><a ui-sref="forgotPass">Forgot Password?</a></span> 
   </div> 
   <div class="form-group"> 
    <input class=" btn btn-default bttn" type="submit" id="loginbtn" value="Login" ui-sref="home" /> 
   </div> 
   <div id="registerbtn">
    New user 
    <a ui-sref="register">Register</a> yourself here
   </div> 
  </div> 
 </div> 
</form>