html body{
    background-color: #eee;
}


#sidemenu{
    margin-top: 50px;
    border: 1px solid lightgray;
}

input{
    
}
.bttn{
    width: 50%;
    background-color: #3388bb;
    color: white;
    border: 0px; 
    color: white;
}
form div{
    border-radius: 5px;

}


form h3{
    color: black;
}

