body{
    background-color: #292931;
}
#register{
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #423143;
    padding: 10px;
}
#login{
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #423143;
    padding: 10px;
}
input{
    
}
.bttn{
    width: 50%;
    background-color: #6B4965;
    color: white;
    border: 0px; 
    color: white;
}